$light-font: white;
$dark-font: black;

$team-colours: (
  nba: (
    primary: #d30529,
    secondary: #0e499d,
    primary-font: $light-font,
    secondary-font: $light-font
  ),
  atlanta-hawks: (
    primary: #e03a3e,
    secondary: #26282a,
    primary-font: $light-font,
    secondary-font: $light-font
  ),
  boston-celtics: (
    primary: #008248,
    secondary: #ba9653,
    primary-font: $light-font,
    secondary-font: $dark-font
  ),
  brooklyn-nets: (
    primary: black,
    secondary: grey,
    primary-font: $light-font,
    secondary-font: $light-font
  ),
  charlotte-hornets: (
    primary: #00788c,
    secondary: #1d1160,
    primary-font: $light-font,
    secondary-font: $light-font
  ),
  chicago-bulls: (
    primary: #ce1141,
    secondary: black,
    primary-font: $light-font,
    secondary-font: $light-font
  ),
  cleveland-cavaliers: (
    primary: #6f263d,
    secondary: #ffb81c,
    primary-font: $light-font,
    secondary-font: $dark-font
  ),
  dallas-mavericks: (
    primary: #007dc5,
    secondary: #c4ced4,
    primary-font: $light-font,
    secondary-font: $dark-font
  ),
  denver-nuggets: (
    primary: #0d2240,
    secondary: #ffc627,
    primary-font: $light-font,
    secondary-font: $dark-font
  ),
  detroit-pistons: (
    primary: #c8102e,
    secondary: #1d428a,
    primary-font: $light-font,
    secondary-font: $light-font
  ),
  golden-state-warriors: (
    primary: #0068b3,
    secondary: #ffc627,
    primary-font: $light-font,
    secondary-font: $dark-font
  ),
  houston-rockets: (
    primary: #ce1141,
    secondary: #bfbfbf,
    primary-font: $light-font,
    secondary-font: $dark-font
  ),
  indiana-pacers: (
    primary: #fdbb30,
    secondary: #002d62,
    primary-font: $dark-font,
    secondary-font: $light-font
  ),
  la-clippers: (
    primary: #c8102e,
    secondary: #1d428a,
    primary-font: $light-font,
    secondary-font: $light-font
  ),
  la-lakers: (
    primary: #552583,
    secondary: #fdb927,
    primary-font: $light-font,
    secondary-font: $dark-font
  ),
  memphis-grizzlies: (
    primary: #5d76a9,
    secondary: #12173f,
    primary-font: $light-font,
    secondary-font: $light-font
  ),
  miami-heat: (
    primary: black,
    secondary: #98002e,
    primary-font: $light-font,
    secondary-font: $light-font
  ),
  milwaukee-bucks: (
    primary: #00471b,
    secondary: #eee1c6,
    primary-font: $light-font,
    secondary-font: $dark-font
  ),
  minnesota-timberwolves: (
    primary: #0d2240,
    secondary: #276092,
    primary-font: $light-font,
    secondary-font: $light-font
  ),
  new-orleans-pelicans: (
    primary: #002b5c,
    secondary: #b4975a,
    primary-font: $light-font,
    secondary-font: $dark-font
  ),
  new-york-knicks: (
    primary: #006bb6,
    secondary: #ff671b,
    primary-font: $light-font,
    secondary-font: $dark-font
  ),
  oklahoma-city-thunder: (
    primary: #007ac1,
    secondary: #f05133,
    primary-font: $light-font,
    secondary-font: $light-font
  ),
  orlando-magic: (
    primary: #0b77bd,
    secondary: #c2ccd2,
    primary-font: $light-font,
    secondary-font: $dark-font
  ),
  philadelphia-76ers: (
    primary: #006bb6,
    secondary: #ed174c,
    primary-font: $light-font,
    secondary-font: $light-font
  ),
  phoenix-suns: (
    primary: #1d1160,
    secondary: #e56020,
    primary-font: $light-font,
    secondary-font: $light-font
  ),
  portland-trail-blazers: (
    primary: #cf0a2c,
    secondary: black,
    primary-font: $light-font,
    secondary-font: $light-font
  ),
  sacramento-kings: (
    primary: #5b2b82,
    secondary: #5c6670,
    primary-font: $light-font,
    secondary-font: $light-font
  ),
  san-antonio-spurs: (
    primary: #000000,
    secondary: #c4ced4,
    primary-font: $light-font,
    secondary-font: $dark-font
  ),
  toronto-raptors: (
    primary: #cd1141,
    secondary: black,
    primary-font: $light-font,
    secondary-font: $light-font
  ),
  utah-jazz: (
    primary: #0d2240,
    secondary: #ffa400,
    primary-font: $light-font,
    secondary-font: $dark-font
  ),
  washington-wizards: (
    primary: #0d2240,
    secondary: #cf0a2c,
    primary-font: $light-font,
    secondary-font: $light-font
  )
);
