@import "team-colours";
@import "reset";

@import url("https://fonts.googleapis.com/css?family=Exo+2&display=swap");

@font-face {
  font-family: "heading-font";
  src: url("../fonts/Adidas Half Block 2016.otf");
}

$nba-blue: #0e499d;
$nba-red: #d30529;

$mobile-menu-breakpoint: 650px;

$teams-border: 6px;
$teams-border-outer: -(3 * $teams-border);
$teams-border-middle: -(2 * $teams-border);

body {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  max-height: 100%;
}

td {
  padding-right: 15px;
}

h1,
h2,
h3 {
  font-family: heading-font;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

a {
  color: initial;
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font: 1.3rem "heading-font";
  transition: all 1s ease;

  @media (min-width: 900px) {
    max-width: 80%;
    margin: 0 auto;
  }

  @media (min-width: 1200px) {
    max-width: 70%;
  }

  .active {
    @media (min-width: $mobile-menu-breakpoint + 1px) {
      border-bottom: 2px solid $nba-red;
    }
  }

  ul {
    display: flex;
    list-style: none;
    padding: 20px;
    margin: 0;

    @media (max-width: $mobile-menu-breakpoint) {
      flex-direction: column;
      text-align: center;
      padding-top: 0;
    }

    @media (min-width: 1200px) {
      padding-left: 0;
      // max-width: 70%;
      margin: 0 auto;
    }
  }

  .logo {
    font-size: 2.5rem;
    padding: 20px 0;
    margin: 0 (($teams-border * 3) + 10px);
    box-sizing: border-box;

    @media (min-width: 900px) {
      margin: 0;
    }

    .active {
      border-bottom: none;
    }
  }

  li {
    padding: 0 20px;

    @media (max-width: $mobile-menu-breakpoint) {
      margin-bottom: 10px;
    }
  }

  li a {
    @media (max-width: 992px) {
      display: block;
    }
  }
}

.hamburger {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  box-sizing: border-box;

  @media (min-width: $mobile-menu-breakpoint + 1px) {
    display: none;
  }
}

.hamburger span {
  display: flex;
  width: 28px;
  height: 3px;
  margin-bottom: 4px;
  position: relative;
  background: black;
  border-radius: 3px;
}

#nav-list {
  @media (max-width: $mobile-menu-breakpoint) {
    flex: 0 0 100%;
  }

  @media (min-width: $mobile-menu-breakpoint + 1px) {
    display: flex;
    align-items: center;
  }
}

.home-page .navbar {
  // background-color: #f3f3f3;

  a {
    color: $nba-blue;
  }

  .hamburger span {
    background: $nba-blue;
  }
}

.main-content {
  margin: 0 (($teams-border * 3) + 10px) 50px;

  @media (min-width: 900px) {
    margin: 0 auto 50px;
    max-width: 80%;
  }
  @media (min-width: 1200px) {
    max-width: 70%;
  }
}

.conferences {
  margin-top: 50px;
}

.tablist {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font: bold 3rem "heading-font";

  .active {
    color: $nba-blue;
  }

  .inactive {
    color: lightgrey;
  }

  @media (max-width: 400px) {
    justify-content: space-between;
  }

  @media (max-width: 600px) {
    font-size: 2rem;
  }
}

.tab {
  flex: 30% 0;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tablist .active::before {
  content: "";
  background: $nba-red;
  position: absolute;
  height: 8px;
  width: 30px;
  top: 50%;
  transform: translate(-120%, -50%);
  transition: all 0.6s ease;
}

.tablist .active::after {
  content: "";
  background: $nba-red;
  position: absolute;
  height: 8px;
  width: 30px;
  top: 50%;
  transform: translate(0%, -50%);
  transition: all 0.6s ease;
}

.tablist .inactive::before {
  content: "";
  background: lightgrey;
  position: absolute;
  height: 8px;
  width: 30px;
  top: 50%;
  transform: translate(-120%, -50%);
  transition: all 0.6s ease;
}

.tablist .inactive::after {
  content: "";
  background: lightgrey;
  position: absolute;
  height: 8px;
  width: 30px;
  top: 50%;
  transform: translate(0%, -50%);
  transition: all 0.6s ease;
}

.teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: $teams-border solid $nba-red;
  position: relative;
  border-radius: 12px;
  margin-top: -$teams-border-middle;

  @media (min-width: 500px) {
    padding: 30px 0;
  }
}

.teams::after {
  content: "";
  position: absolute;
  top: $teams-border-middle;
  bottom: $teams-border-middle;
  left: $teams-border-middle;
  right: $teams-border-middle;
  background: white;
  z-index: -1;
  border-radius: 12px;
}

.teams::before {
  content: "";
  position: absolute;
  top: $teams-border-outer;
  bottom: $teams-border-outer;
  left: $teams-border-outer;
  right: $teams-border-outer;
  background: $nba-blue;
  z-index: -2;
  border-radius: 20px;
}

.team {
  flex: 50% 0;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  animation: fade-in 1.5s;

  @media (min-width: 500px) {
    padding: 10px 40px;
  }

  @media (min-width: 600px) {
    padding: 10px 60px;
  }

  @media (min-width: 700px) {
    flex: 33.333333333%;
    height: 150px;
    padding: 0;
  }
}

.team-logo {
  box-sizing: border-box;
  height: 20vh;
  text-align: center;
}

.nba .team-logo {
  padding: 10px 0;
}

.dl-row {
  display: flex;

  dt {
    flex: 35% 0 0;

    @media (min-width: 700px) {
      flex: 30% 0 0;
    }

    @media (min-width: 1000px) {
      flex: 20% 0 0;
    }
    @media (min-width: 1450px) {
      flex: 18% 0 0;
    }
  }

  dd {
    margin: 0;
    flex: 65% 0 1;
    word-break: break-all;

    @media (max-width: 701px) {
      flex: 65% 0 1;
    }
  }
}

.bio {
  dt {
    flex: 30% 0 0;
  }
}

.roster {
  margin-top: 50px;

  .bio-team {
    display: none;
  }
}

.roster-container,
.search-results-container {
  display: flex;
  justify-content: space-between;
}

.roster-list,
.search-results-list {
  flex: 100%;

  @media (min-width: 900px) {
    flex: 75% 0;
  }
  @media (min-width: 1200px) {
    flex: 50% 0;
  }
}

.player-search-container {
  margin: 20px 0;

  label {
    display: none;
  }
}

.player {
  cursor: pointer;
  margin-bottom: 10px;

  .show {
    transition: all 1.5s ease;
    animation: fade-in 1.5s;
  }

  &:nth-child(odd) .player-name {
    background-color: rgb(226, 226, 226);
  }
}

.player-name {
  width: 100%;
  padding: 10px;
  text-align: left;
}

.inside-player-bio {
  padding: 10px;
  border-left: 3px solid lightgrey;
  border-right: 3px solid lightgrey;
  border-bottom: 3px solid lightgrey;

  @media (min-width: 1201px) {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }
}

.outside-player-bio {
  flex: 45% 0;
  animation: fade-in 1s;

  @media (max-width: 1201px) {
    display: none;
  }

  .player-name {
    font-size: 2rem;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
}

.player-name.selected {
  transition: all 0.5s ease;
  font-size: 1.5em;
}

.player-name.deselected {
  transition: all 0.5s ease;
}

.loading {
  height: 40vh;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.loading-text {
  font: 1.7rem "heading-font";
}

.loading-text:after {
  content: "...";
  font-family: "Exo 2";
}

.input-field {
  font: 1rem "Exo 2", sans-serif;
  padding: 10px;
  border: 3px solid lightgray;
  border-radius: 4px;
}

.pagination {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 40px;

  button {
    padding: 10px;
  }

  .active {
    color: white;
    background-color: $nba-blue;

    &:hover {
      background-color: $nba-blue;
    }
  }

  .disabled {
    color: lightgrey;
  }

  .dropdown {
    padding: 10px 25px;

    @media (max-width: 375px) {
      padding: 10px 10px;
    }
  }
}

#page-dropdown {
  margin: 0 0.4rem;
}

.not-found {
  text-align: center;

  .main-content {
    transform: translateY(50%);
  }
}

.not-found-header {
  height: 30vh;
  font: 30vh "heading-font";

  @media (max-width: 500px) {
    height: 20vh;
    font: 20vh "heading-font";
  }

  img {
    height: 75%;
  }
}

.connection-error {
  margin-top: 50px;

  .message {
    font-size: 1.6rem;
    margin-bottom: 20px;
  }

  .reason {
    font-size: 1.4rem;
    margin-top: 20px;
  }
}

.blink {
  animation: 2s ease-in-out infinite blink;
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media (min-width: 1201px) {
  .player .show {
    .screen-reader-text {
      border: 0;
      clip: rect(1px, 1px, 1px, 1px);
      clip-path: inset(50%);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      word-wrap: normal !important;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@each $team, $values in $team-colours {
  .#{$team} .team-logo {
    background: linear-gradient(
      90deg,
      rgba(map-get(map-get($team-colours, $team), primary), 1) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(map-get(map-get($team-colours, $team), secondary), 1) 100%
    );
  }

  // .#{$team} .player:nth-child(odd) .player-name.selected,
  // .#{$team} .outside-player-bio .player-name {
  //   background-color: map-get(map-get($team-colours, $team), primary);
  //   color: map-get(map-get($team-colours, $team), primary-font);
  // }
  // .#{$team} .player:nth-child(even) .player-name.selected {
  //   background-color: map-get(map-get($team-colours, $team), secondary);
  //   color: map-get(map-get($team-colours, $team), secondary-font);
  // }

  // .#{$team} .player:nth-child(odd) .player-name.selected,

  .#{$team} .player-name.selected {
    background-color: map-get(map-get($team-colours, $team), primary);
    color: map-get(map-get($team-colours, $team), primary-font);
  }
  .#{$team} .outside-player-bio .player-name {
    background-color: map-get(map-get($team-colours, $team), secondary);
    color: map-get(map-get($team-colours, $team), secondary-font);
  }

  .#{$team} .main-content a {
    border-bottom: 2px solid map-get(map-get($team-colours, $team), primary);
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

// $atlanta-hawks: (
//   primary: #00aced,
//   secondary: red
// );

// $team-colours: (
//   atlanta-hawks-primary: "#00aced",
//   atlanta-hawks-secondary: red
// );

// @each $team in $team-list {
//   .#{$team} .player:nth-child(odd) {
//     // background-color: map-get($team-colours, #{$team}-primary);
//     background-color: rgba(map-get($team-colours, #{$team}-primary), 0.2);
//   }
//   .#{$team} .player:nth-child(even) {
//     background-color: map-get($team-colours, #{$team}-secondary);
//   }
// }

// .player {
//   position: relative;
//   // display: flex;
// }
// .player h2 {
//   position: absolute;
//   display: flex;
//   padding: 10px;
//   background-color: rgba(255, 255, 255, 0.8);
// }
// .player p {
//   flex: 1;
//   display: flex;
// }
// .player img {
//   object-fit: cover;
//   width: 100%;
//   height: 100%;
// }

// .player:before,
// .player:after,
// .player > :last-child:before,
// .player > :last-child:after {
//   position: absolute;
//   width: 10px;
//   height: 10px;
//   border-color: blue;
//   border-style: solid;
//   content: " ";
// }

// .player:before {
//   top: 0;
//   left: 0;
//   border-width: 3px 0 0 3px;
// }

// .player:after {
//   top: 0;
//   right: 0;
//   border-width: 3px 3px 0 0;
// }

// .player > :last-child:before {
//   bottom: 0;
//   right: 0;
//   border-width: 0 3px 3px 0;
// }

// .player > :last-child:after {
//   bottom: 0;
//   left: 0;
//   border-width: 0 0 3px 3px;
// }
